@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    overflow-x: hidden;
    align-items: center;
}


.header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 104px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__top {
        background: #10BBD5;
        height: 72px;
        width: 100%;
        display: flex;
        flex-direction: row;
        &-item {
            margin: 0 auto;
            height: 72px;
            width: 1320px;
            background: #10BBD5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            & > .left {
                display: flex;
                align-items: center;
                gap: 8px; 
                a {
                    text-decoration: none;
                    color: white;
                }
                a:nth-child(2) {
                    margin: 0;
                    font-size: 18px;
                    color: #F8FDFE;
                    font-family: Cabin;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            & > .right {
                display: flex;
                align-items: center;
                gap: 8px; 

                p {
                    color: #F8FDFE;
                    font-family: Cabin;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                }

                & > .chest {
                    position: relative;
                    
                    button {
                    cursor: pointer;
                    background: none;
                    border: none;
                        span {
                            position: absolute;
                            top: 13px;
                            right: 13px;
                            color: #000;
                            font-family: Cabin;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 10px;
                        }
                    }
                }
            }
            
        }
    }

    &__bottom {
        background: #FFF;
        height: 32px;
        width: 100%;

            &-item {
                margin: 0 auto;
                height: 32px;
                width: 1320px;
                background: #FFF;
                display: flex;
                align-items: center;
                justify-content: space-between;


                p, a {
                    color: #000;
                    font-family: Cabin;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
                nav {
                    display: flex;
                    gap: 40px;
                }
            }
            
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;   
    background-color: #EEEEEF;
    padding-bottom: 120px;

    .wrapper {
        margin: 0 auto;
        .title {
            margin-top: 32px;
            margin-bottom: 24px;
            padding-bottom: 23px;
            border-bottom: 1px solid #A8A8A8;
            color: #1F1F1F;
            font-family: Cabin;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 24px 32px;
            
            &__cell {
                width: 306px;
                height: 512px;
                background-color: white;
                border: 1px solid #8E8E8E;
                display: flex;
                padding: 32px;
                flex-direction: column;
                gap: 16px;
               
                &-for-img {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                    width: 178px;
                    height: 280px;
                    }
                    .sticker-style {
                        color: #F8FDFE;
                        text-align: center;
                        font-family: Cabin;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                    
                    .sticker_form {
                        border-radius: 4px;
                        padding: 4px 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    
                    }
                    
                    .hit {
                        background-color: #4200FF;
                    }
                    
                    .new {
                        background-color: #AF39E7;
                    }
                    
                    .discount {
                        background-color: #EA33C0;
                    }
                    
                    .sticker {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        gap: 5px;
                    }
                    
                }
                
                &-for-text{
                    & > .one {
                        width: 242px;
                        border-bottom: 1px solid #A8A8A8;
                        overflow: hidden;
                        color: var(--black, #1F1F1F);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-family: Cabin;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                    }
                    & > .two {
                        overflow: hidden;
                        color: var(--gray, #8E8E8E);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-family: Cabin;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 8px;
                    }

                    & > .price {
                        display: flex;
                        flex-direction: row;
                        gap: 24px;

                        &__one {
                            color: #E90000;
                            font-family: Cabin;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px;
                        }
                        &__two {
                            color: var(--gray, #8E8E8E);
                            font-family: Cabin;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px;
                            text-decoration: line-through;
                        }
                    }

                
                }
                
                &-for-button {
                    & > .button {
                        width: 241px;
                        padding: 8px 24px;
                        border: none;
                        background-color: #4C394E;
                        cursor: pointer;
                        border-radius: 4px;
                        transition: 0.5s;
                        color: var(--white, #F8FDFE);
                        text-align: center;
                        font-family: Cabin;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;

                        &:hover {
                            background-color: #744978;
                        }

                        
                    }
                    & > .other {
                        background-color: #4D762D;
                        &:hover {
                            background-color: #6DB236;
                        }
                    }
                }
            }
        }
        
    }
}









.chat {
    width: 1500px;
    position: fixed;
    top: 900px;
    display: flex;
    justify-content: end;
    z-index: 1;

    &__style {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        cursor: pointer;
        transition: 0.5s;
        background-color: #10BBD5;

        &:hover {
            transform: rotate(35deg);
        }
    }
}





footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88px;   
    background-color: #4C394E;

    & > .footer{
        width: 1320px;
        padding-top: 32px;
        padding-bottom: 32px;
        background-color: #4C394E;
        display: flex;
        
        justify-content: space-between;

        p {
            color: var(--white, #F8FDFE);
            font-family: Cabin;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
}